<nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="./assets/images/logo.jpg" height="30" width="30" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/" routerLinkActive="active" >{{home}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="administracion" routerLinkActive="active">Administración</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Ventas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Seguros</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Facturacion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Auditoria</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Reportes</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Herramientas
					</a>
					<ul class="dropdown-menu bg-dark">
						<li><a class="dropdown-item  text-white" href="#">Action</a></li>
						<li><a class="dropdown-item  text-white" href="#">Another action</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item  text-white" href="#">Something else here</a></li>
					</ul>
				</li>
				
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item" *ngIf="!authService.isAuthenticated() else elseBlock">
					<a [routerLink]="['login']" class="nav-link" routerLinkActive="active">{{login}}</a>
				</li>
				<ng-template #elseBlock>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" 
							routerLinkActive="active" aria-expanded="false">
							{{authService.getPayload().sub}}
						</a>
						<ul class="dropdown-menu bg-dark">
							<button (click)="logout()" class="dropdown-item text-white" type="submit">Sign Out</button>
						</ul>
					</li>
				</ng-template>
			</ul>
		</div>
	</div>
</nav>
