<!-- Modal -->
<div *ngIf="modalService.mostrar" class="abrir-modal  animacion fadeIn">
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" style="display:block;" >
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5" 
                        id="exampleModalLabel">{{tituloModal + rol.nombre}}</h1>
                    <button type="button" class="btn-close" (click)="closeModal()"
                        data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descipcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let permiso of permisos">
                                <td>{{permiso.id}}</td>
                                <td>{{permiso.nombre}}</td>
                                <td>{{permiso.descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button (click)="closeModal()" type="button"
                     class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
